<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep Rolling Rolling Rolling</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="mask-icon" href="/Images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/Om-oss.css">
    <script src="../scripts/nav.js"></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<div class="section">
    <div class="main-image">
        <img class="images" src="https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" style="width:50%">
        <img class="images" src="https://images.unsplash.com/photo-1588777930357-fb171e43f7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" style="width:50%">
        <div class="centered">
            <h1 class="about-us">About us</h1>
        </div>
    </div>
</div>

<div class="another-section">
    <div class="another-inner-section">
        <h2>Our company name is "Keep Rolling, Rolling, Rolling, KRRR for short. We provide bicycle rentals for modern folks!
            Our main value is to give people easy transportation during urban areas. Hopefully this leads to a healthy lifestyle.</h2>
    </div>
</div>

<section class="section1">
    <div class="about-us-1">
        <div class="inner-section-1">
            <h1>Life is too short to not add kick out on pedals.</h1>
            <p class="text">
                Our service makes it fast and easy to rent a bike in seconds
                and leave it at any place convenient to you. We clean up after
                you - our service-guys pick up all the bikes within 2 hours
                (median pickup time: 37 minutes).
            </p>
        </div>
    </div>
</section>


<section class="section2">
    <div class="about-us-2">
        <div class="inner-section-2">
            <h1>We have 120 bikes available in Ålesund.</h1>
            <p class="text">
                New bikes upgraded every month according to latest trends. 20 brand new electric bikes waiting for you!
                We are true to the BYOWT concept: Bring Your Own Winter Tires! Nothing brings a warm home feeling better than BYOWT!
            </p>
        </div>
    </div>
</section>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>