<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep Rolling Rolling Rolling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/Om-oss.css">
    <script src="../scripts/nav.js"></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<div class="section">
    <div class="main-image">
        <img class="images" src="https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" style="width:50%">
        <img class="images" src="https://images.unsplash.com/photo-1588777930357-fb171e43f7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" style="width:50%">
        <div class="centered">
            <h1 class="about-us">About us</h1>
        </div>
    </div>
</div>

<div class="another-section">
    <div class="another-inner-section">
        <h2>Phasellus blandit sagittis orci sit amet gravida. faucibus elit sit</h2>
        <h2>amet luctus vulputate. Donec id venenatis elit, quis rutrum nibh. </h2>
        <h2>Sed et vestibulum est. Suspendisse Vestibulum fringilla ante lacus,</h2>
        <h2>quis molestie enim lobortis ut. Donec lobortis ipsum id aliquet</h2>
        <h2>pulvinar. Proin in lacinia ex.</h2>
    </div>
</div>

<section class="section1">
    <div class="about-us-1">
        <div class="inner-section-1">
            <h1>Lorem ipsum</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus velit ducimus, enim inventore earum, eligendi
                nostrum pariatur necessitatibus eius dicta a voluptates sit
                deleniti autem error eos totam
                 nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
        </div>
    </div>
</section>


<section class="section2">
    <div class="about-us-2">
        <div class="inner-section-2">
            <h1>Lorem ipsum</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus velit ducimus, enim inventore earum, eligendi
                nostrum pariatur necessitatibus eius dicta a voluptates sit
                deleniti autem error eos totam
                 nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
        </div>
    </div>
</section>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>