<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep Rolling Rolling Rolling</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/terms-policy.css">
    <script src="../scripts/login.js" defer></script>
    <script src="../scripts/nav.js" defer></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

    <section class="terms-policy">
            <h2>Terms & Policy</h2>
            <br>

            <div class="info">
                <h1><strong>Contact</strong></h1>
                <br>

                <p><em>How do I contact you?</em></p>
                <p>Kindly follow the guide on <a href="Customer-Service">this page.</a></p>
                <br><br>

                <h1><strong>Orders</strong></h1>
                <br>
                <p><em>I am not able to put in an order, can you help me? </em></p>
                <p>Absolutely, just give us a call or send an e-mail. We are happy to help.</p><br>

                <p><em>Did you get my order? </em></p>
                <p>We usually send out order confirmation to the e-mail. It takes a couple of minutes after finished purchase.
                    If you haven't got an e-email after a hour, it probably is a techincal issue or you have misspelled the e-mail. Contact us so we can further
                    help you with the issue.</p><br>

                <p><em>Can I change or cancel my order?</em></p>
                <p>Unfurtunately, it is rarely possible since we send our orders the same day for packing and quickest delivery.
                    Contact us, so we can check out what we can do further.</p><br>

                <p><em>Is the product I want in stock?</em></p>
                <p>The amount in stock usually shown on the site.</p><br>

                <p><em>Is it international delivery?</em></p>
                <p>Yes, of course.</p><br><br>


                <h1><strong>Delivery and shipping</strong></h1><br>
                <p><em>How much is shipping?</em></p>
                <p>Free shipping on all orders.</p><br>

                <p><em>How long is shipping time?</em></p>
                <p>The usual delivery time is 3-7 days. For products that is custom made the delivery is
                    longer.</p><br>

                <p><em>How does my order get shipped?</em></p>
                <p>Your order gets shipped with Posten or PostNord. It depends on what option you choose when you check out.</p><br>

                <p><em>I got the wrong order, what do I do?</em></p>
                <p>Contact us, and we will help you.</p><br><br>


                <h1><strong>Returns, complains and exchange</strong></h1><br>

                <p><em>How do I return a product?</em></p>
                <p>Detailed information can be found <a href="">here</a>.</p><br>

                <p><em>Can I change the product I ordered??</em></p>
                <p>Detailed information about exchanging products can be found <a href="">here</a>.</p><br>

                <p><em>I would like to complaint on a product?</em></p>
                <p>Detailed information about complaints can be found <a href="">here</a>.</p><br>

                <p><em>Can I return a product I bought on sale?</em></p>
                <p>Yes, of course. The return policy is still valid.</p><br><br>



                <h1><strong>Payments</strong></h1><br>
                <p><em>Which payment methods can I choose from?</em></p>
                <p>We have invoice, split payment, credit card and direct payment from your bank.</p><br>

                <p><em>How do you send an invoice when I buy?</em></p>
                <p>The invoice gets sent to your e-mail after the order has been shipped.</p><br>

                <p><em>I can't find my invoice, can you send another one?</em></p>
                <p>Contact Klarna on <a href="https://www.klarna.com/no/">www.klarna.com</a>. They will help you.</p><br><br>


                <h1><strong>Security</strong></h1><br>

                <p><em>Is it safe to buy from you?</em></p>
                <p>Yes, the site is crypted and we only use safe payment options from established payment services like Klarna.</p><br>

                <p><em>Are my personal information protected?</em></p>
                <p>We would never give out your personal information to unathorized partners and the information is used to secure
                    your order..</p><br><br>

                <h1><strong>Other things</strong></h1><br>

                <p><em>Do you have a physical store?</em></p>
                <p>No, we are only on online. We are open 24 hours 7 days a week, and always open to answer your questions.</p><br>

                <p><em>I don't which model to choose from. Can you help me?</em></p>
                <p>We are always happy to help, so contact us by either calling or sending an e-mail.</p><br>


                <p><em>Which helmet is the best fit for my head?</em></p>
                <p>The helmets are adjustable, so they can fit all head sizez. If you still are unsure, kindly contact us
                    so that we can help you. We are always happy to help, so contact us by either calling or sending an e-mail.</p><br>

                <p>If there is a question that is not answered above, please contact us for further assistance. </p>



            </div>

        </section>

    <footer class="section-p1" th:replace="components/footer :: footer">
    </footer>
</body>
</html>