#map{
    width: 40%;
    height: 35vh;
    margin: 10px;
}

#flex{
    display: flex;
    padding-top: 60px;
}

#info-section{
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#info-section > *{
    padding-bottom: 20px;
}

#confirmation-section{
    width: 80%;
    margin: auto;
    height: calc(100vh - 76px);
}

#rental-header{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

#header{
    z-index: 1001;
}