.flex{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 2px;
    justify-content: space-between;
}

.flex img{
    width: 100px;
}

#productsToBeFilledFromDB{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.flex div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#purchaseBtn{
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    padding: 14px 25px 13px;
    font-weight: 400;
    font-size: .8125em;
    border: 0;
    text-transform: uppercase;
    width: 20%;
    background-color: lightblue;
    cursor: default;
    margin-left: 50px;
}

#purchaseBtn:hover{
    cursor: pointer;
}

#cartPriceSection{
    text-align: right;
}

@media screen and (max-width: 600px) {
    #cartPriceSection{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    #purchaseBtn{
        width: 100%;
        margin: 20px auto auto;
    }
}