<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KRRR - account</title>
    <link rel="icon" type="image/x-icon" th:href="@{/Images/KRRR-Logo.png}">
    <link rel="stylesheet" th:href="@{/CSS/Nav.css}">
    <link rel="stylesheet" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" th:href="@{/CSS/account.css}">
    <script th:src="@{../scripts/nav.js}" defer></script>
    <script th:src="@{/scripts/account.js}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<section id="user-profile">
    <div id="user-profile-nav">
        <h3>MY ACCOUNT</h3>
        <div class="user-profile-nav-link"><a style="font-weight: bold" th:href="@{/account}">Account information</a></div>
        <div class="user-profile-nav-link"><a th:href="@{/account/address}">Address</a></div>
        <h3>ORDER INFORMATION</h3>
        <div class="user-profile-nav-link"><a th:href="@{/account/orders}">Order history</a></div>
        <hr>
        <div id="user-profile-nav-link-logout"><a href="/logout">Logout</a></div>
    </div>
    <div id="user-profile-info">
        <h1 class="big-header">Personal information</h1>
        <div class="row">
            <div class="row">
                <select name="mobile-menu" id="mobile-menu-input" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option selected value="/account">Account information</option>
                    <option value="/account/address">Address</option>
                    <option value="/account/orders">Order history</option>
                    <option value="/logout">Logout</option>
                </select>
            </div>
        </div>
        <form action="">
            <h2 class="small-header">Personal information</h2>
            <div class="row">
                <label>First name</label>
                <input disabled="disabled" type="text" name="firstName" id="form-input-firstName" class="disabled">
            </div>
            <div class="row">
                <label>Last name</label>
                <input disabled="disabled" type="text" name="lastName" id="form-input-lastName" class="disabled">
            </div>
            <div class="row">
                <label>Date of birth</label>
                <input disabled="disabled" type="text" name="dob" id="form-input-dob" class="disabled">
            </div>
            <div class="row">
                <label>Phone</label>
                <input disabled="disabled" type="tel" name="phone" id="form-input-phone" class="disabled">
            </div>
            <h2 class="small-header">Login information</h2>
            <div class="row">
                <label>Email</label>
                <input disabled="disabled" type="email" name="email" id="form-input-email" class="disabled">
            </div>
            <div class="row">
                <label>Old password</label>
                <input type="password" oninput="checkOldPassword()" name="password" id="form-input-oldPassword" required>
                <small class="error" id="emptyOldPasswordFieldErrorText">Please fill out this field</small>
                <small class="error" id="patternErrorTextOldPassword">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
            <div class="row">
                <label>New password</label>
                <input type="password" oninput="checkNewPassword()" name="newPassword" id="form-input-newPassword" required>
                <small class="error" id="emptyPasswordFieldErrorText">Please fill out this field</small>
                <small class="error" id="newPasswordIsSameAsOld">New password cannot be the same as the old</small>
                <small class="error" id="patternErrorTextNewPassword">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
            <div class="row">
                <label>Repeat password</label>
                <input type="password" oninput="checkPasswordRepeat()" name="repeatPassword" id="form-input-repeatPassword" required>
                <small class="error" id="noPasswordMatch">The passwords need to match</small>
                <small class="error" id="emptyRepeatPasswordFieldErrorText">Please fill out this field</small>
            </div>
            <div class="row" id="updateAccountButton"><button id="submitBtn" type="submit" disabled onclick="updatePassword()">Update changes</button></div>
        </form>

    </div>
</section>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>