<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KRRR - account</title>
    <link rel="icon" type="image/x-icon" th:href="@{/Images/KRRR-Logo.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="mask-icon" href="/Images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-touch-icon.png">
    <link rel="stylesheet" th:href="@{/CSS/Nav.css}">
    <link rel="stylesheet" th:href="@{/CSS/admin.css}">
    <script th:src="@{/scripts/admin.js}" defer></script>
    <link rel="stylesheet" th:href="@{/CSS/footer.css}">
    <link rel="stylesheet" th:href="@{/CSS/account.css}">
    <script th:src="@{/scripts/nav.js}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<section id="user-profile">
    <div id="user-profile-nav" style="display: flex; flex-direction: column;">
        <p>ADMIN PAGES</p>
        <a th:href="@{/admin}">Edit users</a>
        <a th:href="@{/account/all-bikes}">Edit bikes</a>
        <a th:href="@{/account/all-products}">Edit products</a>
    </div>
    <div id="user-profile-info">
        <h1 class="big-header">All products</h1>
        <div class="row">
            <div class="row">
                <select name="mobile-menu" id="mobile-menu-input" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option selected value="/account">Account information</option>
                    <option value="/account/address">Address</option>
                    <option value="/account/orders">Order history</option>
                    <option value="/logout">Logout</option>
                </select>
            </div>
        </div>

        <div id="buttons">
            <button id="add-user">Add bike</button>
            <button id="edit-user">Edit bike</button>
            <button id="remove-user">Remove bike</button>
        </div>

        <div id="users-to-be-filled-from-db"></div>

    </div>
</section>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>