<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/CSS/bike-customazation.css}">
  <script th:src="@{/Scripts/bike-image.js}" defer></script>
  <link rel="stylesheet" th:href="@{/CSS/Nav.css}">
  <link rel="stylesheet" th:href="@{/CSS/footer.css}">
  <script th:src="@{/scripts/nav.js}" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>
<section id="bike-section">
  <div id="bike-image-container">
    <img id="bike-background" th:src="@{/Images/Bike-image-background.jpg}" alt="bike image background">
    <img id="bike-wheels" th:src="@{/Images/Bike-image-wheels.png}" alt="">
    <img id="bike-base" th:src="@{/Images/Bike-image-base.png}" alt="">
    <img id="bike-handle-and-pedals" th:src="@{/Images/Bike-image-handle-and-pedals.png}" alt="">
    <img id="bike-seat" th:src="@{/Images/Bike-image-seat.png}" alt="">
  </div>
  <div id="bike-selectors-container">
    <div class="select-row">
      <label for="base-select">Base color:</label>
      <div id="base-select">
        <button class="color-button color-button-base" style="background-color: #ED6EB0" value="pink"></button>
        <button class="color-button color-button-base" style="background-color: #AAF89E" value="green"></button>
        <button class="color-button color-button-base" style="background-color: #479EC5" value="blue"></button>
        <button class="color-button color-button-base" style="background-color: #FDEE9F" value="yellow"></button>
        <button class="color-button color-button-base" style="background-color: #737F8E" value="grey"></button>
        <button class="color-button color-button-base" style="background-color: #388085" value="teal"></button>
      </div>
    </div>
    <div class="select-row">
      <label for="seat-select">Seat color:</label>
      <div id="seat-select">
        <button class="color-button color-button-seat" style="background-color: #ED6EB0" value="pink"></button>
        <button class="color-button color-button-seat" style="background-color: #AAF89E" value="green"></button>
        <button class="color-button color-button-seat" style="background-color: #479EC5" value="blue"></button>
        <button class="color-button color-button-seat" style="background-color: #FDEE9F" value="yellow"></button>
        <button class="color-button color-button-seat" style="background-color: #737F8E" value="grey"></button>
        <button class="color-button color-button-seat" style="background-color: #388085" value="teal"></button>
      </div>
    </div>
    <div class="select-row">
      <label for="wheel-select">Wheel color:</label>
      <div id="wheel-select">
        <button class="color-button color-button-wheel" style="background-color: #ED6EB0" value="pink"></button>
        <button class="color-button color-button-wheel" style="background-color: #AAF89E" value="green"></button>
        <button class="color-button color-button-wheel" style="background-color: #479EC5" value="blue"></button>
        <button class="color-button color-button-wheel" style="background-color: #FDEE9F" value="yellow"></button>
        <button class="color-button color-button-wheel" style="background-color: #737F8E" value="grey"></button>
        <button class="color-button color-button-wheel" style="background-color: #388085" value="teal"></button>
      </div>
    </div>
    <button id="add-to-cart-button" onclick="addToCart()">Add to chart</button>
  </div>
</section>
<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>