<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Keep Rolling Rolling Rolling</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="mask-icon" href="/Images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-touch-icon.png">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/login.css">
    <script src="../scripts/nav.js" defer></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
    <script src="../scripts/createUser.js" defer></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>
<section class="login">
    <h2>Sign up</h2>
    <br>
    <div class="checkout-container" id="checkout-container-content">
        <form id="create-user-form">
            <div class="row">
                <label>First name</label>
                <input oninput="checkFirstName()" class="" type="text" value="" name="firstName" id="form-input-firstName">
                <small class="error" id="emptyFirstNameFieldErrorText">Please fill out this field</small>
            </div>
            <div class="row">
                <label>Last name</label>
                <input oninput="checkLastName()" class="" type="text" value="" name="lastName" id="form-input-lastName">
                <small class="error" id="emptyLastNameFieldErrorText">Please fill out this field</small>
            </div>
            <div class="row">
                <label>Account email address</label>
                <input oninput="checkEmail()" class="" type="email" value="" name="email" id="form-input-email">
                <small class="error" id="emptyEmailFieldErrorText">Please fill out this field</small>
                <small class="error" id="patternEmailFieldErrorText">Please enter a valid email</small>
            </div>
            <div class="row">
                <label>Birthday</label>
                <input oninput="checkBirthday()" type="date" id="birthday" placeholder="DD-MM-YYYY" name="dob">
                <small class="error" id="emptyBirthdayFieldErrorText">Please fill out this field</small>
            </div>
            <div class="row">
                <label>Phone</label>
                <input oninput="checkPhone()" class="" type="text" value="" name="phone" id="form-input-phone">
                <small class="error" id="emptyPhoneFieldErrorText">Please fill out this field</small>
                <small class="error" id="phoneFieldErrorRegex">Please enter a valid phone number</small>
            </div>
            <div class="row ">
                <label>Password</label>
                <input oninput="checkPassword()" class="" type="password" value="" name="password" id="password">
                <small class="error" id="emptyPasswordFieldErrorText">Please fill out this field</small>
                <small class="error" id="patternErrorText">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            </div>
            <div class="row ">
                <label>Repeat new password</label>
                <input oninput="checkPasswordMatch()" class="" type="password" value="" id="passwordRepeat">
                <small class="error" id="noPasswordMatch">The passwords need to match</small>
                <small class="error" id="emptyRepeatPasswordFieldErrorText">Please fill out this field</small>
            </div>
            <div class="row">
                <button onclick="createUser()" disabled="" type="submit" class="submitLoginBtn" id="submitLogin">Sign up</button>
            </div>
        </form>
    </div>
</section>
<footer class="section-p1" th:replace="components/footer :: footer">
</footer>
</body>
</html>


