<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="stylesheet" href="../CSS/forgot-password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="../scripts/nav.js" defer></script>
    <script src="../scripts/resetPassword.js" defer></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>
<section class="login">

    <h2>Reset password</h2>
    <br>
    <div class="checkout-container">
        <form id="login-form">
            <div class="row">
                <label for="form-input-email">E-mail</label>
                <input onfocusout="checkEmail()" oninput="checkEmail()" class="" type="email" value="" name="email" id="form-input-email" required autofocus>
                <small class="error" id="emptyEmailFieldErrorText">Please fill out this field</small>
                <small class="error" id="patternEmailFieldErrorText">Please enter a valid email</small>
            </div>
            <div class="row">
                <button onclick="resetPassword()" disabled="" type="submit" class="submitLoginBtn" id="submitLogin">Reset password</button>
            </div>
        </form>
    </div>
</section>
<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>