<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep Rolling Rolling Rolling</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="mask-icon" href="/Images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-touch-icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/Nav.css">
    <link rel="stylesheet" href="../CSS/login.css">
    <script src="../scripts/login.js" defer></script>
    <script src="../scripts/nav.js" defer></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="Header" id="header" th:replace="components/header :: header">
    </header>

    <section class="login">
        <h2>Login</h2>
        <br>
        <p><a href="/create-user" class="small-link1">Create a new account <u>here</u></a></p>
        <div class="checkout-container">
            <form id="login-form" method="post" action="/login">
                <div class="row">
                    <label for="form-input-email">E-mail</label>
                    <input onfocusout="checkEmail()" oninput="checkEmail()" class="" type="email" value="" name="email" id="form-input-email" required autofocus>
                    <small class="error" id="emptyEmailFieldErrorText">Please fill out this field</small>
                    <small class="error" id="patternEmailFieldErrorText">Please enter a valid email</small>
                </div>
                <div class="row ">
                    <label for="password">Password</label>
                    <input onfocusout="checkPassword()" oninput="checkPassword()" class="" type="password" value="" name="password" id="password" required>
                    <small class="error" id="emptyPasswordFieldErrorText">Please fill out this field</small>
                    <small class="error" id="patternErrorText">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
                </div>
                <div class="row">
                    <button disabled="" type="submit" class="submitLoginBtn" id="submitLogin">Logg inn</button>
                </div>
                <div id="successMessageContainer" hidden>
                </div>
            </form>
        </div>
        <p style=""><a href="/forgot-password" class="small-link">Forgot password?</a></p>
    </section>
    <footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>