<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KRRR - product</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
    <link rel="mask-icon" href="/Images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/apple-touch-icon.png">
    <link rel="stylesheet" th:href="@{/CSS/Nav.css}">
    <link rel="stylesheet" th:href="@{/CSS/ProductDetailsPage.css}">
    <link rel="stylesheet" th:href="@{/CSS/footer.css}">
    <script th:src="@{/scripts/ProductDetailsPage.js}" defer></script>
    <script th:src="@{/scripts/Nav.js}" defer></script>
    <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<div id="productsToBeFilledFromDB"></div>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>