<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/CSS/Nav.css}">
    <link rel="stylesheet" th:href="@{/CSS/ProductPage.css}">
    <link rel="stylesheet" th:href="@{/CSS/footer.css}">
    <script th:src="@{/scripts/ProductPage.js}" defer></script>
    <script th:src="@{/scripts/Nav.js}" defer></script>
</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<div id="productsToBeFilledFromDB"></div>

<footer class="section-p1" th:replace="components/footer :: footer"></footer>


</body>
</html>