<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keep Rolling Rolling Rolling</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/Nav.css">
  <link rel="stylesheet" href="../CSS/login.css">
  <script src="../scripts/update-password.js" defer></script>
  <script src="../scripts/nav.js" defer></script>
  <script src="https://kit.fontawesome.com/1814d6f297.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="Header" id="header" th:replace="components/header :: header">
</header>

<section class="login">
  <h2>Update password</h2>
  <br>
  <div class="checkout-container">
    <form id="login-form">
      <div class="row ">
        <label for="oldPassword">Old password</label>
        <input onfocusout="checkOldPassword()" oninput="checkOldPassword()" class="" type="password" value="" name="password" id="oldPassword" required>
        <small class="error" id="emptyOldPasswordFieldErrorText">Please fill out this field</small>
        <small class="error" id="patternErrorTextOldPassword">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
      </div>
      <div class="row ">
        <label for="newPassword">New password</label>
        <input onfocusout="checkNewPassword()" oninput="checkNewPassword()" class="" type="password" value="" name="password" id="newPassword" required>
        <small class="error" id="emptyPasswordFieldErrorText">Please fill out this field</small>
        <small class="error" id="patternErrorTextNewPassword">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
      </div>
      <div class="row ">
        <label for="newPasswordRepeat">Repeat password</label>
        <input onfocusout="checkPasswordRepeat()" oninput="checkPasswordRepeat()" class="" type="password" value="" name="password" id="newPasswordRepeat" required>
        <small class="error" id="noPasswordMatch">The passwords need to match</small>
        <small class="error" id="emptyRepeatPasswordFieldErrorText">Please fill out this field</small>
      </div>
      <div class="row">
        <button onclick="updatePassword()" disabled="" type="submit" class="submitLoginBtn" id="submitUpdateUser">Update password</button>
      </div>
    </form>
  </div>
</section>
<footer class="section-p1" th:replace="components/footer :: footer"></footer>
</body>
</html>